# PLF Session 3
**UCLA, Econ 10P: Introduction to Python for Economists**   
**Lang Chen**

## Review
### Declare an empty list
```python
empty_list =[]
empty_list = list()
```
### Declare and initialize a list:
```python
numbers_list = [2, 6, 2, 3, 9, 12]
letters_list = ["A", "H", "C", "B"]
mixed_list = [2, 4, "B", 2, "Z"]
mixed_list_2d = [["TNG", "DS9", "VOY"], ["Picard", "Sisko", "Janeway"], [1, 2, 3]]
```
### Access by index

In [5]:
L = ["Kirk", "Picard", "Sisko", "Janeway"]
print(L[2])
print(L[-2])
print(L[1::2])
print(L[::-1])

string = "Sharky"
print(string[1::2])

Sisko
Sisko
['Picard', 'Janeway']
['Janeway', 'Sisko', 'Picard', 'Kirk']
hry

### Traverse a list (accessing each list element in sequence)

In [4]:
# Index-based traversal
# while
numbers = [3, 2, 9, 5, 1]
index = 0
while index < len(numbers):
    print(index, numbers[index])
    index += 1

0 3
1 2
2 9
3 5
4 1

In [5]:
# for
for i in range(len(numbers)):
    print(i, numbers[i])

0 3
1 2
2 9
3 5
4 1

In [6]:
# element-based traversal
numbers = [3, 2, 9, 5, 1]
for element in numbers:
    print(element)

3
2
9
5
1

### Input list elements

In [7]:
some_numbers = []
for i in range(5):
    number = int(input("Enter number "+ str(i)+ ": "))
    some_numbers.append(number)
print(some_numbers)

Enter number 0: 1
Enter number 1: 2
Enter number 2: 3
Enter number 3: 3
Enter number 4: 4
[1, 2, 3, 3, 4]

In [10]:
some_more_numbers = []
how_many = int(input("How many numbers do you want to enter?"))
for i in range(how_many):
    number = int(input("Enter number " + str(i) + ": "))
    some_more_numbers.append(number)
print(some_more_numbers)

How many numbers do you want to enter?5
Enter number 0: 1
Enter number 1: 2
Enter number 2: 3
Enter number 3: 4
Enter number 4: 5
[1, 2, 3, 4, 5]

In [11]:
some_numbers = []
print("Enter numbers or -1 to quit:")
number = int(input())
while number != -1:
    some_numbers.append(number)
    number = int(input())
print(some_numbers)

Enter numbers or -1 to quit:
1
2
3
-1
[1, 2, 3]

### Change a list element

In [13]:
numbers = [6, 7, 8, 9, 10]
numbers[3] = 22     # Changes list to [6, 7, 8, 22, 10]
numbers

[6, 7, 8, 22, 10]

In [15]:
numbers = [6, 7, 8, 9, 10]
for i in range(len(numbers)):
    numbers[i] += 1
# Changes list to [7, 8, 9, 10, 11]
numbers

[7, 8, 9, 10, 11]

### Other useful functions

In [16]:
L = ["Kirk","Picard", "Sisko", "Janeway"]

print("Command                L")
print("-----------------------------------")
L.remove('Kirk')                             # removes first instance of 'Kirk'
print("L.remove('Kirk')      ", L)

L.pop(1)                                     # removes element in position 1 (Sisko)
print("L.pop(1)              ", L)

L.insert(1,'Spock')                          # adds 'Spock' in index 1
print("L.insert(1, 'Spock')  ", L)

L.sort()                                     # sorts elements (ascending)
print("L.sort()              ", L)

L.reverse()                                  # reverses order of elements
print("L.reverse()           ", L)
# ---

Command                L
-----------------------------------
L.remove('Kirk')       ['Picard', 'Sisko', 'Janeway']
L.pop(1)               ['Picard', 'Janeway']
L.insert(1, 'Spock')   ['Picard', 'Spock', 'Janeway']
L.sort()               ['Janeway', 'Picard', 'Spock']
L.reverse()            ['Spock', 'Picard', 'Janeway']

### List comprehension

In [20]:
# To construct a list
numbers = [i for i in range(100)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [18]:
# Control Flow
evens = []
for i in range(100):
    if i % 2 == 0:
        evens.append(i)
print("Manual even numbers:")
print(evens)

Manual even numbers:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [19]:
# List Comprehension
evens_LC = [i for i in range(100) if i % 2 == 0]
print("List comprehension even numbers:")
print(evens_LC)

List comprehension even numbers:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

### Two-dimensional List

In [23]:
board = [[" ", "O", "X"],
         ["O", "O", " "],
         ["X", " ", "X"]]
for i in range(len(board)):
    for j in range(len(board[i])):
        print(board[i][j], end="")
    print("\n")

 OX

OO

X X

### Dictionaries
The keys of a dict should be immutable and distinct.

In [24]:
command_dict = {
    "Enterprise A" : "Kirk",
    "Enterprise D" : "Picard",
    "DS9"          : "Sisko",
    "Voyager"      : "Janeway"
}
# Access the value using key
command_dict["DS9"]

'Sisko'

In [25]:
# don't duplicate keys -- keys will be dropped. 
bad_two = {
    "key1" : "value1",
    "key1" : "value2"
}
bad_two

{'key1': 'value2'}

In [26]:
d = {}

d["TNG"] = "pretty good"
d["DS9"] = "the best"
d["ENT"] = "not great"

d

{'TNG': 'pretty good', 'DS9': 'the best', 'ENT': 'not great'}

In [30]:
d.keys()

dict_keys(['TNG', 'DS9', 'ENT'])

In [31]:
d.values()

dict_values(['pretty good', 'the best', 'not great'])

In [32]:
for key in d.keys():
    print(d[key])

pretty good
the best
not great

### Modifying Dicts

In [36]:
# Add an entry to a dict
d["TO2"] = 'unknown'
d
d.update({"DIS" : "new", "the movies" : "bad"})
d

{'TNG': 'pretty good',
 'DS9': 'the best',
 'TO2': 'unknown',
 'DIS': 'new',
 'the movies': 'bad'}

In [39]:
d.update({"the movies" : "cringe"})
d

{'TNG': 'pretty good',
 'DS9': 'the best',
 'TO2': 'unknown',
 'DIS': 'new',
 'the movies': 'cringe'}

In [38]:
d.pop("the movies")
d

{'TNG': 'pretty good', 'DS9': 'the best', 'TO2': 'unknown', 'DIS': 'new'}

### Tuples
You can think of a tuple as an immutable list. It is ordered and cannot be changed. Tuples are denoted in Python with `()` parentheses.

In [40]:
captains = ("Kirk", "Picard", "Sisko", "Janeway")

In [41]:
captains[2]

'Sisko'

In [42]:
captains[2] = "Spock" # error, can't change elements of a tuple

TypeError: 'tuple' object does not support item assignment